<html lang-"en" ng-app="app">
<head>
    <title>Sleazy</title>
    <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
        <%=javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
            <%=csrf_meta_tags %>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
                <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
</head>

    <header class="profilehead">hi you</header>

<body>
<% if @tracks %>
  <% @tracks.each do |track| %>
    <li> 
    <a href="<%= track.object %>"> <%=track.title %> </a>
    <%= link_to "-", track_path(track), method: :delete %>
    </li>
  <% end %>
<% end %>

 <footer>
 <center>
      <div class="options">
        <a ng-click="stopSong()" id="pause"><strong>&#9616;&#9616;</strong></a>
        <div id="back">
        <% if user_signed_in? %>
          <%= link_to "￩", tracks_path %>
        <% end %>
        </div>
      </div>
      </center>
    </footer>
</body>
</html>

